<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>Tags</h1>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="tagName">Name</label>
            <input type="text" v-model="tagName" class="form-control" id="tagName" placeholder="Tag name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" v-model="tagDescription" class="form-control" id="description" placeholder="Tag description">
          </div>
          <button v-if="edit" type="submit" @click.prevent="updateTag" class="btn btn-primary">Update</button>
          <button v-if="edit" type="submit" @click.prevent="cancel" class="btn btn-dark">Cancel</button>
          <button v-else type="submit" @click.prevent="addTag" class="btn btn-success">Add Tag</button>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <tags-table :tags="tags" v-on:editTag="editTag($event)" v-on:deleteTag="deleteTag($event)"></tags-table>
      </div>
    </div>
  </div>
</template>

<script>
import TagsTable from '../../components/TagsTable.vue';
export default {
  components: {
    'tags-table': TagsTable
  },
  data() {
    return {
      tagId: '',
      tagName: '',
      tagDescription: '',
      tags: [],
      edit: false
    }
  },
  created() {
    this.tagsCollection();
  },
  methods: {
    cancel() {
      this.edit = false;
      this.tagId = '';
      this.tagName = '';
      this.tagDescription = '';
    },
    addTag() {
      const data = {'tagName': this.tagName, 'tagDescription': this.tagDescription};
      axios.post('api/tag', data).then(response => {
        this.tagsCollection();
      });
      
      this.tagName = '';
      this.tagDescription = '';
    },
    tagsCollection() {
      axios.get('api/tag').then(response => {
        this.tags = response.data;
      });
    },
    deleteTag(tag) {
      axios.delete('api/tag/'+tag.id).then(response => {
        this.tagsCollection();
      });
      
    },
    editTag(tag) {
      this.edit = true;
      this.tagId = tag.id;
      this.tagName = tag.tagName;
      this.tagDescription = tag.tagDescription;
    },
    updateTag() {
      const data = {'tagName': this.tagName, 'tagDescription': this.tagDescription};
      axios.patch('api/tag/'+ this.tagId +'/', data).then(response => {       
        this.tagsCollection();
      });
    }
  }
}
</script>
