<template>
  <div class="col-md-12">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Tags</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="image in images" :key="image.id">
          <th scope="row">{{ image.id }}</th>
          <td><img :src="image.imagePath" alt="" width="100"></td>
          <td>
            <span v-for="(tag, index) in image.imageTags.split(',')" :key="index">{{tag}}</span>
          </td>
          <td>
            <button type="button" class="btn btn-warning" @click="editImage(image)">Edit Tags</button>
            <button type="button" class="btn btn-danger" @click="deleteImage(image)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: {
    images: {}
  },
  methods: {
    editImage(image) {
      this.$emit('editImage', image);
    },
    deleteImage(image) {
      this.$emit('deleteImage', image);
    }
  }
}
</script>

<style scoped>
  td span {
    margin-right: 10px;
    border: 1px solid #afafaf33;
    padding: 3px 10px;
    border-radius: 3px;
  }
</style>
