<template>
  <div>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tag Name</th>
          <th scope="col">Tag Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tag in tags" :key="tag.id">
          <th scope="row">{{ tag.id }}</th>
          <td>{{ tag.tagName }}</td>
          <td>{{ tag.tagDescription }}</td>
          <td>
            <button type="button" class="btn btn-warning" @click="editTag(tag)">Edit</button>
            <button type="button" class="btn btn-danger" @click="deleteTag(tag)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: {
    tags: {}
  },
  methods: {
    editTag(tag) {
      this.$emit('editTag', tag);
    },
    deleteTag(tag) {
      this.$emit('deleteTag', tag);
    }
  }
}
</script>

