<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item active"><b>Tag Lists</b></li>
          <a href="#" class="list-group-item" v-for="tag in tags" :key="tag.id" @click="searchByTag(tag)">{{ tag.tagName }}</a>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="description">Description</label>
                <span class="dataImport">
                  <label class="inputfile">
                    <input type="file" v-if="uploadReady" ref="fileupload" class="file"  size="60" @change="onFileChange"/>
                  </label> 
                </span>
                <div class="form-group">
                <label for="tagName">Tags</label>
                <multiselect v-model="imageTags" 
                  tag-placeholder="Add this as new tag" 
                  placeholder="Search or add a tag" 
                  label="tagName" track-by="tagName" 
                  :options="tags" :multiple="true" 
                  :taggable="true">
                </multiselect>
                <!-- <pre class="language-json"><code>{{ imageTags  }}</code></pre> -->
              </div>
              </div>
              <button v-if="edit" type="submit" @click.prevent="updateImage" class="btn btn-primary">Update</button>
              <button v-if="edit" type="submit" @click.prevent="cancel" class="btn btn-dark">Cancel</button>
              <button v-else type="submit" @click.prevent="uploadImage" class="btn btn-success">Upload</button>
            </form>
          </div>
        </div>
        <br>
        <div class="row">
            <div v-if="searchByTagName != ''" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Search by tag: </strong> {{searchByTagName}}.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" @click="clearSearchByTag">&times;</span>
              </button>
            </div>
           <image-table :images="images" v-on:editImage="editImage($event)" v-on:deleteImage="deleteImage($event)"></image-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImageTable from '../../components/ImageTable.vue';
import Multiselect from 'vue-multiselect'
export default {
  components: {
    'image-table': ImageTable,
    Multiselect
  },
  data() {
    return {
      uploadReady: true,
      images: [],
      tags: [],
      imageTags: [],
      file: '',
      edit: false,
      editId: '',
      searchByTagName: ''
    };
  },
  created() {
    this.tagsCollection();
    this.imagesCollection();
  },
  methods: {
    async onFileChange(e) {
      const file = e.target.files || e.dataTransfer.files;
      this.file = file[0];
    },
    clear() {
      this.uploadReady = false
      this.$nextTick(() => {
        this.uploadReady = true
      })
    },
    tagsCollection() {
      axios.get('api/tag').then(response => {
        this.tags = response.data;
      });
    },
    uploadImage() { 
      const tags = [];
      this.imageTags.forEach(tag => {
        tags.push(tag.tagName);
      });
      const tagString = tags.toString();
      const formData = new FormData();
      formData.append('file', this.file);
      formData.append('tags', tagString);
      axios.post('api/image', formData, {headers: {'Content-Type': 'multipart/form-data'}}).then(response => {
        console.log(response.data);
        this.imageTags = '';                  
        this.clear();
        this.imagesCollection();
      });
    },
    imagesCollection() {
      axios.get('api/image').then(response => {
        this.images = response.data;
      });
    },
    editImage(image) {
      this.edit = true;
      this.editId = image.id;
      const imageTags = image.imageTags.split(',');
      const tags = [];
      imageTags.forEach(tag => {
        tags.push({'tagName': tag});
      });
      this.imageTags = tags;
    },
    async updateImage() {
      const tags = [];
      this.imageTags.forEach(tag => {
        tags.push(tag.tagName);
      });
      const tagString = tags.toString();
      const data = {'tags': tagString, 'file': this.file};
      await axios.patch('api/image/'+ this.editId +'/', data).then(response => {   
        this.imageTags = '';
        this.clear();  
        this.imagesCollection();
      });
    },
    deleteImage(image) {
      axios.delete('api/image/'+image.id).then(response => {
        this.imagesCollection();
      });
    },
    cancel() {
      this.edit = false;
      this.imageTags = '';
    },
    async searchByTag(tag) {
      this.searchByTagName = tag.tagName;
      await axios.get('api/image/'+ tag.id +'').then(response => {   
        console.log(response.data);
        this.images = response.data;
      });
    },
    async clearSearchByTag() {
      this.searchByTagName = '';
      this.imagesCollection();
    }
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
